.cabecalho__logo {
    display: flex;
    align-items: center;
    gap: 0.5rem
}

.cabecalho__logo--texto {
    font-family: 'Inter';
    font-size: 1.125rem;
    color: #3A404E;
    text-decoration: none;
    font-weight: 500;
}